{% extends 'base.html.twig' %}

{% block body %}
    <a style="background-color: #bbff1e;font-size: 35px">{{ item }}</a>
        <h6> for object </h6>
        <h1 > {{ objectName }}</h1> </a>
    <a  style="background-color: #ff52a6;font-size: 66px;" >{{ allItems }}</a>
    <p>
    <a href="{{ path('acounter_index') }}">back to the list</a>
    </p>
    <p><a href="{{ path('all_items',{'items': item }) }}">all <bold>{{ item }}</bold> till now </a></p>

{% endblock %}

{% block stylesheets %}

{% endblock %}

