{% extends 'base.html.twig' %}

{% block body %}

<form action="{{ path('acounter_new') }}" style="text-align: center;" xmlns="http://www.w3.org/1999/html">
    <div></div><label  style="background-color: rgba(61,63,255,0.82);width: 100px;height: 50px;font-size: 200%">
        all existing acounters
    </label>

    <select name="setName" style="width: 100px;height: 50px;" >
        <option value=""></option>
        {% for a in allAcounters %}
            <option value="{{ a }}"><a>{{ a }}</a></option>


        {% endfor %}
    </select>
</div>
<p>
    <div></div><label  style="background-color: rgba(61,63,255,0.82);width: 100px;height: 50px;font-size: 200%">
            all existing works
        </label>

        <select name="setWork" style="width: 100px;height: 50px;" >
            <option value=""></option>
            {% for a in allWorks %}
                <option value="{{ a }}"><a>{{ a }}</a></option>


            {% endfor %}
        </select>
    </p>
</div>
    <span>
    <p><label>Items 1</label>
        <select name="setItem1" style="width: 100px;height: 50px;" >
            <option value=""></option>
            {% for a in items %}
                <option value="{{ a }}"><a>{{ a }}</a></option>


            {% endfor %}
        </select>
    </p>
    </span>
        <span><p>
                <label>Items 2</label>
                <select name="setItem2" style="width: 100px;height: 50px;" >
            <option value=""></option>
            {% for a in items %}
                <option value="{{ a }}"><a>{{ a }}</a></option>


            {% endfor %}
        </select>
                </p></span>
    <span><p>
            <label>Items 3</label>
        <select name="setItem3" style="width: 100px;height: 50px;" >
            <option value=""></option>
            {% for a in items %}
                <option value="{{ a }}"><a>{{ a }}</a></option>


            {% endfor %}
        </select>
            </p></span>
    <span><p>
            <label>Items 4</label>
        <select name="setItem4" style="width: 100px;height: 50px;" >
            <option value=""></option>
            {% for a in items %}
                <option value="{{ a }}"><a>{{ a }}</a></option>


            {% endfor %}
        </select>
    </p>
    </span>
    <div>
        <p>

            <label>Items 5</label>
        <select name="setItem5" style="width: 100px;height: 50px;" >
            <option value=""></option>
            {% for a in items %}
                <option value="{{ a }}"><a>{{ a }}</a></option>


            {% endfor %}
        </select>
    </p>
    </div>
<input type="submit" style="background-color: rgba(82,255,13,0.82); width: 100px;height: 50px" value="CREATE NEW"/>
    </p>
</form>



{% endblock %}

